.hero-title {
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
}

.highlight {
  color:rgba(9, 252, 118, 0.93); 
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #cbd5e1;
  margin: 1.2rem 0;
}

.cta-button {
  background-color: #38bdf8;
  color: #0f172a;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #0ea5e9;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
}
