@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url("./assets/hero.gif"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
padding: 6rem 2rem;

}




a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: #60a5fa;
}


h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}


button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  background-color: #2563eb;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1d4ed8;
}


section {
  padding: 60px 20px;
  text-align: center;
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  section {
    padding: 40px 10px;
  }
}
